@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
  <div class="container">
    <h1>回 眸</h1>
    <p>基于高德地图和社交网络的回眸功能，回顾曾经留下的足迹...</p>
    <p><a class="btn btn-primary btn-lg" href="/Home/About">了解更多</a></p>
  </div>
</div>